*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container-1{
    height: 100vh;
    width: 100%;
    background-image: url(./images/background2.jpg);
    background-size: contain ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    
}

.introduction{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 250px;
    width: 500px;
    margin-top: -200px;
    font-size: xx-large;

    
}

.container-2{
    height: 380px;
    width: 100%;
    
}

.container-3{
    height: fit-content;
    width: 100%;
   
}

.container-4{
    height: fit-content;
    width: 100%;
    
}

.container-5{
    height: fit-content;
    width: 100%;
   
}

footer{
    height: fit-content;
    width: 100%;
  
}